# Class 2

1. Dynamic Typing
Write a program that:
* Assigns an integer value to a variable
* Reassigns a string value to the same variable
* Prints the value and its type at each step

In [2]:
x = 10

In [3]:
print(x, type(x))

10 <class 'int'>

In [4]:
x = "Hello Python"

In [5]:
print(x, type(x))

Hello Python <class 'str'>

2. Mutable vs Immutable Data Types
Write a program that:
* Modifies a list
* Attempts to modify a tuple

In [6]:
my_list = [1, 2, 3]

In [7]:
my_list[0] = 10
print(my_list)

[10, 2, 3]

In [8]:
my_tuple = (1, 2, 3)

In [11]:
# my_tuple[0] = 10
print(my_tuple)                   #tuple is immutable

(1, 2, 3)

3. Local and Global Variables
Write a program that:
* Uses a global variable
* Uses a local variable inside a function

In [12]:
x = 100

In [13]:
def demo():
  y = 50
  print(x,y)

demo()

100 50

4. Return Statement in a Function
Write a function that:
* Takes two numbers
* Returns their sum

In [14]:
def add(a, b):
  return a+b

In [15]:
result = add(5, 3)
print(result)

8

5. List Comprehension
Write a program that:
* Creates a list of squares from 1 to 10

In [16]:
squares = [x * x for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

6. break, continue, and pass
Write a program that:
* Demonstrates break, continue, and pass

In [18]:
for i in range(1, 11):
    if i == 3:
        continue
    if i == 5:
        break
    if i == 7:
        pass
    print(i)

1
2
4

7. Recursion
Write a recursive function that:
* Finds the factorial of a number

In [20]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)

print(factorial(5))

120

8. Lambda Function
Write a lambda function that:
* Returns the square of a number

In [21]:
square = lambda x: x * x
print(square(4))

16

9. is vs ==
Write a program that:
* Compares two lists using == and is

In [22]:
a = [1, 2, 3]
b = [1, 2, 3]

In [23]:
print(a == b)
print(a is b)

True
False

10. Docstrings
Write a function that:
* Uses a docstring

In [25]:
def greet():
    """This function prints a greeting message"""
    print("Hello Python")

greet()
print(greet.__doc__)

Hello Python
This function prints a greeting message