# 1. Find the Factorial of a Number

In [1]:
def find_factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

In [2]:
print(find_factorial(5))

120

# 2. Find the Largest and Smallest Number in a List

In [3]:
def find_min_max(numbers):
    if not numbers:
        return None

    smallest = numbers[0]
    largest = numbers[0]

    for num in numbers:
        if num < smallest:
            smallest = num
        if num > largest:
            largest = num

    return smallest, largest

In [7]:
print(find_min_max([85,44,32,11,7,910]))

(7, 910)

# 3. Fibonacci Sequence up to N terms

In [8]:
def fibonacci_sequence(n):
    a, b = 0, 1
    for _ in range(n):
        print(a, end=" ")
        a, b = b, a + b
        a = b
        b = a+b

In [9]:
print(fibonacci_sequence(10))

0 1 3 9 27 81 243 729 2187 6561 None

In [10]:
print(fibonacci_sequence(4))

0 1 3 9 None

# 4. Create a Square Frame Pattern

In [11]:
def square_frame(n):
    for i in range(n):
        for j in range(n):
            if i == 0 or i == n-1 or j == 0 or j == n-1:
                print("*", end=" ")
            else:
                print(" ", end=" ")
        print()

In [12]:
print(square_frame(4))

* * * *
*     *
*     *
* * * *
None

# 5. Sum of Digits in a Number

In [13]:
def sum_of_digits(n):
    total = 0
    for digit in str(n):
        total += int(digit)
    return total

In [14]:
print(sum_of_digits(453))

12