# Pandas_class1

In [1]:
import pandas as pd

1.Create DataFrame

In [2]:
data = {"Name": ["Alice", "Bob", "Charlie"],"Age": [22, 24, 23],"Marks": [85, 90, 88]}
df = pd.DataFrame(data)
print(df)

      Name  Age  Marks
0    Alice   22     85
1      Bob   24     90
2  Charlie   23     88

3.Basic Operations

In [3]:
print(df["Age"].mean())
print(df["Marks"].max())

23.0
90

4. Filtering

In [4]:
print(df[df["Marks"] > 85])

      Name  Age  Marks
1      Bob   24     90
2  Charlie   23     88

2.Read CSV

In [5]:
df = pd.read_csv("/content/sample_data/california_housing_test.csv")
print(df.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0
4    -119.67     36.33                19.0       1241.0           244.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
2      1484.0       495.0         5.7934            270500.0
3        49.0        11.0         6.1359            330000.0
4       850.0       237.0         2.9375             81700.0